<div class="row">
    <ul>
                <li class="thumbnail-link"><a href=""><img src="img/1.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/2.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/3.jpg" class="thumbnail" alt="1"></a></li>
    </ul>
</div>
<div class="row">
    <ul>
                <li class="thumbnail-link"><a href=""><img src="img/4.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/5.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/6.jpg" class="thumbnail" alt="1"></a></li>
    </ul>
</div>
<div class="row">
    <ul>
                <li class="thumbnail-link"><a href=""><img src="img/7.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/8.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/9.jpg" class="thumbnail" alt="1"></a></li>
    </ul>
</div>
<div class="row">
    <ul>
                <li class="thumbnail-link"><a href=""><img src="img/10.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/11.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/12.jpg" class="thumbnail" alt="1"></a></li>
    </ul>
</div>
<div class="row">
    <ul>
                <li class="thumbnail-link"><a href=""><img src="img/13.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/14.jpg" class="thumbnail" alt="1"></a></li>
                <li class="thumbnail-link"><a href=""><img src="img/15.jpg" class="thumbnail" alt="1"></a></li>
    </ul>
</div>