<div class="wrap-layout">
    <div class="description">
        <p><span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis recusandae cupiditate voluptatum modi magnam, praesentium dolor! Non minus, hic commodi ex dolores, omnis et facere nam, qui ipsum aliquid consequatur.</span>
        <span>Repellat repellendus in ratione, aut! Vero dolorem, omnis atque totam architecto nostrum sunt voluptatibus. Distinctio repellat pariatur corrupti, cum error saepe, esse architecto voluptates tempore voluptas voluptatem aperiam officia illo!</span>
        <span>Temporibus quasi labore quis quae atque facere autem consequatur quisquam tempore repudiandae voluptate fugiat quam, in quas sit id nisi officiis ratione ipsum quaerat ex nesciunt saepe alias. Expedita, totam?</span>
        <span>Incidunt mollitia sapiente vel odio at sed error qui facere aspernatur ex ipsa quam beatae, est, ab assumenda nulla non. Itaque nulla vel, necessitatibus perspiciatis id natus excepturi, enim quidem!</span>
        <span>Modi veritatis ipsa dicta necessitatibus optio ipsum, unde atque nemo sint nobis. Ab, recusandae. Rem asperiores incidunt iste perspiciatis ratione. Cum harum dolorum tempore ex inventore eveniet hic, nostrum dolores.</span></p>
    </div>
    <div class="presentation-pic clearfix">
        <img src="img/about-pic.png" alt="">
    </div>
</div>