<div class="info-detail">
    <div class="info-data clearfix">
        <h2>Contact Information</h2>
        <p class="info"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ipsa dicta, nihil. Sunt porro fuga illum, minima quia molestias nisi iste adipisci, consectetur autem perferendis impedit dignissimos similique repudiandae quasi.</span><span>Omnis iste recusandae voluptatem, labore ratione excepturi, odit ad quos doloremque velit sed quas architecto iure assumenda fugit maiores, quo incidunt numquam quibusdam magnam odio laudantium! Suscipit alias officia, doloremque?</span></p>
        <div class="contact">
            <h3>R production</h3>
            <p>
                Menahem Begin 5,
                <br/>
                Bney Aish.
                <br/>
                Phone: 0544796826
                <br/>
                Email: zezar61@walla.com
            </p>
        </div>
    </div>
</div>
<div class="vertical-line"></div>
<div class="wrap-form clearfix">
    <form action="">
        <fieldset>
            <label for="name">Your Name</label>
            <input type="text" id="name">
            <br/>
            <label for="email">Your E-mail</label>
            <input type="email" id="email" required>
            <br/>
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="60" rows="15"></textarea>
        </fieldset>
    </form>  
</div>