<aside class="gallary-nav clearfix" ng-controller="NavCtrl">
    <ul>
        <li class="gallary-link"><a href="#/wedding">Wedding</a></li>
        <li class="gallary-link"><a href="#/trash">Trash The Dress</a></li>
        <li class="gallary-link"><a href="#/mitzva">Bar/Bat Mitzva</a></li>
        <li class="gallary-link"><a href="#/video">Video</a></li>
    </ul>
</aside>
<div class="vertical-line"></div>
<div class="thumbnails-gallary">
    <div class="container-image">
        <div class="row">
            <ul>
                        <li class="thumbnail-link"><a href=""><img src="img/1.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/2.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/3.jpg" class="thumbnail" alt="1"></a></li>
            </ul>
        </div>
        <div class="row">
            <ul>
                        <li class="thumbnail-link"><a href=""><img src="img/4.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/5.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/6.jpg" class="thumbnail" alt="1"></a></li>
            </ul>
        </div>
        <div class="row">
            <ul>
                        <li class="thumbnail-link"><a href=""><img src="img/7.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/8.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/9.jpg" class="thumbnail" alt="1"></a></li>
            </ul>
        </div>
        <div class="row">
            <ul>
                        <li class="thumbnail-link"><a href=""><img src="img/10.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/11.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/12.jpg" class="thumbnail" alt="1"></a></li>
            </ul>
        </div>
        <div class="row">
            <ul>
                        <li class="thumbnail-link"><a href=""><img src="img/13.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/14.jpg" class="thumbnail" alt="1"></a></li>
                        <li class="thumbnail-link"><a href=""><img src="img/15.jpg" class="thumbnail" alt="1"></a></li>
            </ul>
        </div>
    </div>
</div>
                <!--<div class="thumbnails-gallary" id="trash">
                    <div class="container-image">
                       <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div> 
                    </div>
                </div>
                <div class="thumbnails-gallary" id="mitzva">
                    <div class="container-image">
                       <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div> 
                    </div>
                </div>
                <div class="thumbnails-gallary" id="video">
                    <div class="container-image">
                       <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="thumbnail-link"><a href=""><img src="1.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="2.jpg" class="thumbnail" alt="1"></a></li>
                                <li class="thumbnail-link"><a href=""><img src="3.jpg" class="thumbnail" alt="1"></a></li>
                            </ul>
                        </div> 
                    </div>
                </div>-->
<div class="image-preview clearfix">
    <img src="img/7.jpg" class="preview" alt=""> 
</div>